*.root

data/submit/2*

.consign
.idea/

*.log
*.pdf
*.out
*.err
*.csh
*.condor
*.report
*dataset
*dataset.tmp
*session.xml
.vscode/
.sl73_gcc485/
.sl73_x8664_gcc485/
*.package/
*.zip

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pcm
*.d
*dict.cxx
*dict.h
*dictUmbrella.h
*dictContent.h

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
temp_gccflags.c
